### Importing required Moudules

In [1]:
import pandas as pd

### Creating dictionary for color clarity and cut

In [8]:
color_mapping = {'D': 7, 'E': 6, 'F': 5, 'G': 4, 'H': 3, 'I': 2, 'J': 1}
clarity_mapping = {'I1': 1, 'SI2': 2, 'SI1': 3, 'VS2': 4, 'VS1': 5, 'VVS2': 6, 'VVS1': 7, 'IF': 8}
cut_mapping = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Ideal': 5, 'Premium': 4}

### Read the dataset and store it into a dataset

In [9]:
df = pd.read_csv('../Dataset/diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### Replace the string values with numeric values

In [10]:
df['color'] = df['color'].replace(color_mapping)
df['clarity'] = df['clarity'].replace(clarity_mapping)
df['cut'] = df['cut'].replace(cut_mapping)

In [11]:
df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    5      6        2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    4      6        3   59.8   61.0    326  3.89  3.84  2.31
2   0.23    2      6        5   56.9   65.0    327  4.05  4.07  2.31
3   0.29    4      2        4   62.4   58.0    334  4.20  4.23  2.63
4   0.31    2      1        2   63.3   58.0    335  4.34  4.35  2.75

### Store the cleaned data in a new csv file

In [7]:
df.to_csv('../Dataset/diamonds_clean.csv', index=False)